body {background-image:linear-gradient(to right, #1492FF, #Bf20FF)}
body {font-family: Arial,sans-serif; margin:15px; text-align:center; font-size: 25px; color:white}

.s7pgr {
    position: fixed;   /* zawsze w rogu, nawet przy scrollu */
    top: 20px;
    left: 16px;
    width: 140px;       /* zmień rozmiar jak chcesz */ /*60 default*/
    height: auto;
    z-index: 1000;
    /*filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.4)); */
    filter:
        drop-shadow(0.5px 0 0 #000)
        drop-shadow(-0.5px 0 0 #000)
        drop-shadow(0 0.5px 0 #000)
        drop-shadow(0 -0.5px 0 #000)
        drop-shadow(8px 10px 14px rgba(0, 0, 0, 0.85));
}

@media (max-width: 768px) {
  .s7pgr {
    width: 60px;
  }
}
